[
  {lotus_ws, [
    {bearer_token, [
        {key, "M1s3cR3t"}
      , {exp, 3600}
      , {alg, "HS256"}
    ]}
    
  ]},
  {kernel, [
      {logger_level, debug},
      {logger, [
          {handler, default, logger_std_h, #{
              formatter => {logger_formatter, #{
                  template => [level,": ",msg,"\n"]
              }}
          }}
      ]}
  ]} 
].