{erl_opts, [debug_info, {parse_transform}]}.
{deps, [
  {cowlib, "~> 2.14.0"},
  {jsx, "~> 3.1.0"},
  {jwt, "~> 0.1.11"},
  {sync, ".*",
      {git, "https://github.com/rustyio/sync.git", {branch, "master"}}}
]}.
{overrides, [
    {override, cowboy, [{deps, [cowlib, ranch]}]}
]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.