{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
  {cowboy, "2.9.0"},
  {jsx, "~> 3.0"},
  {jwt, "~> 0.1"},
  {sync, ".*",
      {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
  {lager, "~> 3.9.2"}
]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.